VASTAI_API_KEY=
EXCHANGE_RATE_API_KEY=
SETTINGS_PATH=./config/settings.yaml

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

AIRFLOW_USER=
AIRFLOW_PASSWORD=
AIRFLOW_EMAIL=

AIRFLOW_FERNET_KEY=
AIRFLOW_SECRET_KEY=
AIRFLOW_JWT_SECRET=

GCP_PROJECT_ID=
GCP_APPLICATION_CREDENTIALS_PATH=