data/
__pycache__/
.idea/
.venv/
.eggs/
.dbt/
.target/
.env
logs/
*.egg-info/
.geminiignore
src/transform/dev.duckdb
src/transform/dbt_packages
src/transform/target
src/transform/profiles.yml
src/transform/.user.yml
infra/**/.terraform
infra/**/terraform.tfstate
infra/**/terraform.tfstate.backup
infra/**/.terraform.lock.hcl
infra/**/terraform.tfvars