project_id            = "your-project-id"
location              = "your-location"
region                = "your-region"
vpc_name              = "gpu-compute-arbitrage-monitor-vpc"
subnet_name           = "gpu-compute-arbitrage-monitor-subnet"
compute_router_name   = "gpu-compute-arbitrage-monitor-router"
router_nat_name       = "gpu-compute-arbitrage-monitor-nat"
bq_dataset_name       = "gpu_compute_arbitrage_monitor_dataset"
gcs_bucket_name       = "gpu-compute-arbitrage-monitor-lake"
ar_repository_name    = "gpu-compute-arbitrage-monitor-repository"
github_repository_uri = "username-gigo-is-not-available/ai-compute-arbitrage-monitor"