# shared.tfvars

project_id              = "ai-compute-arbitrage-monitor"
bq_dataset_name         = "ai_compute_arbitrage_monitor_dataset"
gcs_bucket_name         = "ai-compute-arbitrage-monitor-lake"

# gcp.tfvars
vpc_name                = "ai-compute-arbitrage-monitor-vpc"
subnet_name             = "ai-compute-arbitrage-monitor-subnet"
compute_router_name     = "ai-compute-arbitrage-monitor-router"
router_nat_name         = "ai-compute-arbitrage-monitor-nat"
ar_repository_name      = "ai-compute-arbitrage-monitor-repository"
cc_environment_name     = "ai-compute-arbitrage-monitor-orchestrator"
gh_wif_pool_id          = "gh-wif-pool"
gh_wif_pool_provider_id = "gh-wif-provider"
gh_repository_uri       = "username-gigo-is-not-available/ai-compute-arbitrage-monitor"